* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: block;
}

/* ----------------------------------navbar--------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #c80000;
    padding: 8px 150px;
}

/* --------------------------------------icon-------------- */
.icon {

    width: 150px;
    height: 68px;
    margin-top: 10px;
}

.iconimg {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    object-fit: cover;
    border-radius: 20px;
}

.uppernav a {
    padding-left: 25px;
}

/* ------------------------------------------subnav--------------- */
.subnav {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    justify-content: space-between;
}

.uppernav {
    position: relative;
    left: 28rem;
    display: flex;
    padding-top: 9px;
    width: 17rem;
    justify-content: space-between;
    justify-items: end;
}

.uppernav-img {
    width: 100%;
    position: relative;
    right: 20px;
}

.uppernav_ {
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

.lowwernav {
    width: 49rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 10px;
}

.lowwernav a {
    margin-left: 10px;
}

.content {
    padding-top: 5px;
    text-decoration: none;
    color: white;
    
}

.lowwernav button{
    background-color:#ed1c24 !important;
    width: 100px;
    border: none;
}
/* ---------------------------container body------------------------ */

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
}

.banner-new {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    overflow: hidden;
}

.img-header {
    width: 100px;
    height: 350px;
}

.form {
    display: flex;
    color: white;
    float: left;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.tracking-label {
    display: block;
    font-size: xx-large;
}

.tracking-input {
    width: 30rem;
    height: 45px;
    font-size: large;
}

.tracking-submit {
    height: 45px;
    background-color: #c80000;
    color: white;
    padding: 0px 50px;
}

.tracking-submit .tracking-input {
    display: flex;
    flex-shrink: px;
}

input[placeholder="Enter your tracking number"] {
    padding-left: 15px;
}


/* -----------------------------container box------------------ */
.container-box {
    display: flex;
    justify-content: center;
    position: relative;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 2px solid #d9d9d9;
    width: 12rem;
    height: 8rem;
    bottom: 50px;
    background-color: white;
    border-radius: 5px;
}

.box img {
    position: relative;
    width: 33px;
    height: 50px;
    top: 10px;
}

.container-box p {
    padding: 20px;
}

/* ------------------------------productrs---------------------- */
.Products {
    display: flex;
    flex-direction: column;
    margin: 30px 120px;
    align-items: center;
    padding-bottom: 5%;
}

.Products h1 {
    font-size: 45px;
    color: #373737;
}

.Products hr {
    width: 69px;
    height: 9px;
    background-color: #ed1c24;
    border-radius: 5px;
    margin: 30px 170px;
}

.Products a {
    text-decoration: none;
    color: black;

}

/* ----------------------------------routes---------------------------------- */
.routes {
    margin: 30px auto;
    font-size: 20px;
}



/* --------------------------------------trucks-------------------------------- */
.trucks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    gap: 40px 125px;
    text-align: center;
    margin: 14px 27px;
    padding: 26px 35px;
}

.Express{
    color: #ed1c24 !important;
}
.trucks img {
    width: 50px;
}

.grid-item {
    font-size: 18px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

/* ---------------------------------tcsCenter----------------- */
.tcsCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f9fc;
}

.tcsCenter h1 {
    margin: 40px 1px;
    font-size: 50px;
    text-shadow: black;
    color: #373737;
}

.tcsCenter p {
    margin: 20px 209px;
    font-size: larger;
    justify-self: baseline;
    text-align: center;
}

.tcsCenter button {
    width: 15rem;
    height: 3rem;
    background-color: #c80000;
    color: white;
    font-size: 15px;
    margin: 40px 0px;
    border: none;
}

/* ------------------------container TCS------------------ */
.container-Tcs {
    width: 100%;
    height: 23rem;
}

.container-Tcs img {
    width: 100%;
    height: 100%;
}

/* -----------------------------Ecom solitions------------------- */

.ecom-solutions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ecom-solutions h1{
    margin-top: 6px;
    font-weight: 700;
    color: #373737;
    font-size: 40px;
}

hr {
    width: 69px;
    height: 9px;
    background-color: #ed1c24;
    border-radius: 5px;
    margin: 20px 0px;
}

.ecom-solutions p{
    text-align: center;
    /* margin: 20px 20px; */
    
}

.ecom-p {
    text-align: center;
    margin: 20px 0;
    width: 45rem;
}

.ecom-body{
    display: flex;
    text-align: center;
    margin-bottom: 75px;
    column-gap: 100px;
}

.ecom-body img{
    width: 150px;   
}


.ecom1 .ecom2 img{
    width: 100%;
    height: 100%;
}

.ecom-body p{
    width: 25rem;
    margin: 13px 5px;
}

.ecomButton{
    background-color:#ed1c24;
    --tw-text-opacity: 1;
    border-radius: .125rem;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    font-size: .875rem;
    height: 2.5rem;
    line-height: 1.25rem;
    width: 12rem;
    border: none;
} 

/* ----------------------------------img glance------------------ */


.img-glance {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.img-glance h1 {
    margin-top: 60px;
    font-size: 40px;
    color: #373737;
}

.img-glance img {
    width: 70%;
    margin: auto;
    opacity: 0.8;
}



@media screen and (max-wdth:1024px) {}

@media screen and (max-wdth:768px) {}

@media screen and (max-wdth:425px) {}

@media screen and (max-wdth:375px) {}

@media screen and (max-wdth:320px) {}